@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --speedify-green: #0a3928;
  --speedify-lime: #d2f66d;
  --speedify-bg: #f8f8f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-speedify-green: var(--speedify-green);
  --color-speedify-lime: var(--speedify-lime);
  --color-speedify-bg: var(--speedify-bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--speedify-bg);
  color: var(--speedify-green);
  font-family: Arial, Helvetica, sans-serif;
}
